@page "/crew"
@inject ICrewDataService crewDataService


<BodyElement CssClass="crew" />

<main id="main" class="grid-container grid-container--crew flow">

    <NumberedTitle TitleNumber=2>Meet your crew</NumberedTitle>
    @if (TargetCrew == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <div role="tablist" @onkeydown="ChangeTabFocus"  aria-label="crew member list" class="dot-indicators flex">
            @foreach (Member tab in CrewMembers)
            {
                <button @onclick="() => ChangeTabPanel(tab.Index)" aria-selected="@(tabPosition == tab.Index ? "true" : "false")"
                role="tab" tabindex="@(tabPosition == tab.Index ? 0 : -1)"   aria-controls="@tab.Index-tab">
                    <span class="sr-only">@tab.Title</span>
                </button>
            }
        </div>
        <article class="crew-details flow flow--space-small" id="@TargetCrew.Index-tab" role="tabpanel" tabindex="0">
            <header class="flow">
                <h2 class="fs-600 ff-seriff uppercase">@TargetCrew.Title</h2>
                <p class="fs-700 uppercase ff-serif">@TargetCrew.MemberName</p>
            </header>
            <p>@TargetCrew.Description</p>
        </article>
        <div class="images">
            <img src="@TargetCrew.Image" alt="@TargetCrew.ImageAlt" />
        </div>

    }
</main>

