@page "/destination"
 <BodyElement CssClass="destination" />
 <main id="main" class="grid-container grid-container--destination flow">
      <NumberedTitle TitleNumber=1>Pick your destination</NumberedTitle>

        @foreach(SpaceDestination destination in Destinations)
        { 
            bool IsVisible = destination.Index == targetPanel;

            <img class="@(!IsVisible? "hidden": "")" src="@destination.Image" id="@destination.Name.ToLower()-image" alt="@destination.ImageAlt">
             
            <div role="tablist" @onkeydown="ChangeTabFocus" class="tab-list underline-indicators flex">
                @foreach(SpaceDestination tab in Destinations)
                { 
                   <button @onclick="() => ChangeTabPanel(tab.Index)"  aria-selected="@(tabPosition == tab.Index ? "true" : "false")" role="tab" tabindex="@(tabPosition == tab.Index ? 0 : -1)" aria-controls="@tab.Name.ToLower()-tab" data-image="@tab.Name.ToLower()-image"  class="uppercase text-accent letter-spacing-2 ff-sans-cond">@tab.Name</button>
                }
            </div>

            <article  class="destination-info flow @(!IsVisible ? "hidden": "")" id="@destination.Name.ToLower()-tab" role="tabpanel"  tabindex="@(IsVisible ? 0 : -1)">
                <h2 class="fs-800 ff-serif uppercase">@destination.Name</h2>
                <p>@destination.Description</p>
                <div class="destination-meta flex">
                <div>
                    <h3 class="text-accent fs-200 uppercase">Avg. Distance</h3>
                    <p class="ff-serif uppercase">@destination.Distance</p>
                </div>
                <div>
                    <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
                    <p class="ff-serif uppercase">@destination.Travel</p>
                </div>
                </div>
            </article>
    }
   
    

 </main>

