@page "/destination"
@inject IDestinationDataService destinationDataService

 <BodyElement CssClass="destination" />
 <main id="main" class="grid-container grid-container--destination flow">
      <NumberedTitle TitleNumber=1>Pick your destination</NumberedTitle>
      @if (TargetDestination == null)
{
    <p><em>Loading...</em></p>
}
else
{

            <img src="@TargetDestination.Image" id="@TargetDestination.Location.ToLower()-image" alt="@TargetDestination.ImageAlt">

            <div role="tablist" @onkeydown="ChangeTabFocus" class="tab-list underline-indicators flex">
                @foreach (SpaceDestination tab in Destinations)
                {
                    <button @onclick="() => ChangeTabPanel(tab.Index)"  aria-selected="@(tabPosition == tab.Index ? "true" : "false")" role="tab" tabindex="0" aria-controls="@tab.Location.ToLower()-tab" data-image="@tab.Location.ToLower()-image"  class="uppercase text-accent letter-spacing-2 ff-sans-cond">@tab.Location</button>
                }
            </div>

            <article  class="destination-info flow"  id="@TargetDestination.Location.ToLower()-tab" role="tabpanel"  tabindex="0">
                <h2 class="fs-800 ff-serif uppercase">@TargetDestination.Location</h2>
                <p>@TargetDestination.Description</p>
                <div class="destination-meta flex">
                <div>
                    <h3 class="text-accent fs-200 uppercase">Avg. Distance</h3>
                    <p class="ff-serif uppercase">@TargetDestination.Distance</p>
                </div>
                <div>
                    <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
                    <p class="ff-serif uppercase">@TargetDestination.Travel</p>
                </div>
                </div>
            </article>

    
}
 </main>

 