@page "/technology"
 <BodyElement CssClass="technology" />
  <main id="main" class="grid-container grid-container--technology flow">


    <NumberedTitle TitleNumber=3>Space launch 101</NumberedTitle>
    @foreach(Terminology term in Terms)
    {
        bool IsVisible = term.Index == targetPanel;
        if (IsVisible)
        {
            <div class="images" id="vehicle-image">
                <img class="portrait" src="@term.ImagePortrait"  alt="@term.ImageAlt"/>
                <img class="landscape" src="@term.ImageLandscape" alt="@term.ImageAlt"/>
            </div>
            <div class="number-list flex" role="tablist">
                <button aria-selected="true" role="tab" tabindex="0" aria-controls="vehicle-tab" data-image="vehicle-image">1</button>
                <button aria-selected="false" role="tab" tabindex="-1" aria-controls="capsule-tab" data-image="capsule-image">2</button>
                <button aria-selected="false" role="tab" tabindex="-1" aria-controls="spaceport-tab" data-image="spaceport-image">3</button>
            </div>
            <div role="tablist" @onkeydown="ChangeTabFocus" class="number-list flex">
                @foreach (Terminology tab in Terms)
                {
                    <button @onclick="() => ChangeTabPanel(tab.Index)"  aria-selected="@(tabPosition == tab.Index ? "true" : "false")" role="tab" tabindex="0" aria-controls="@tab.ReplaceSpaces(tab.Term)-tab" data-image="@tab.ReplaceSpaces(tab.Term)-image">@(tab.Index + 1)</button>
                }
            </div>
            <article class="technology-details flow flow--space-small" id="@term.ReplaceSpaces(term.Term)-tab" role="tabpanel" tabindex="0">
                <header class="flow">
            <h2 class="text-accent ff-seriff uppercase">The Terminology ...</h2>
            <p class="fs-700 uppercase ff-serif">@term.Term</p>
        </header>
        <p class="text-accent"> 
            @term.Definition</p>

      
    </article>
    }
    }
   
  </main>

  