    <img src="@SpaceDestination.Image" alt="@SpaceDestination.ImageAlt"/>

    <TabList/>
    <article class="destination-info flow">
        <h2 class="fs-800 ff-serif uppercase">@SpaceDestination.Name</h2>
        
    
        <p>@SpaceDestination.Description</p>

        <div class="destination-meta flex">
        <div>
            <h3 class="text-accent fs-200 uppercase">Avg. Distance</h3>
            <p class="ff-serif uppercase">@SpaceDestination.Distance</p>
        </div>
        <div>
            <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
            <p class="ff-serif uppercase">@SpaceDestination.Travel</p>
        </div>
        </div>
    </article>
    @code {
        [Parameter]

        public SpaceDestination SpaceDestination { get; set; }

        [Parameter]
        public string Page { get; set; }
    }